/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
} */

/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* General styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
} */

/* Sticky footer styles
-------------------------------------------------- */
html{
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
   margin-bottom: 120px;
   /* Margin top by navbar height */


  background-color: #fafafb;
  /* color: rgba(0, 0, 0, 0.9); */
  font-family: Varela, sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* for font awesome brands*/
.fab{
    padding:5px;
}
.fab:hover{
    opacity:0.7;
}

header{
  margin-bottom: 10px;
}

/* setting colors of icons*/
header .fas {
    color: #2c6861;
}

.fa-twitter {
    color: #55ACEE;
}
.fa-linkedin {
    color: #007bb5;
}
.fa-youtube {
    color: #bb0000;
}
.fa-github{
    color:black;
}

/*Jumbotron puts some margin-bottom and top, bottom padding. so, remove it. */
#top-jumbotron {
    border-bottom: 3px solid rgb(190, 196, 184);
    border-top: 3px solid rgb(190, 196, 184);
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom:0px;
    background-color: #f4f5f4;
}
.logo {
    font-weight:500;
    color:rgb(75, 23, 122);
    font-family: 'Marck Script', cursive;
}
#top-jumbotron p {
    font-family: cursive;
    color:rgb(42, 74, 116);
}