@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <p>Recent Posts:</p>
    <ul>
        <li>
            <a href="/Post/1/installation-of-python3-in-mac-os">Post 1</a>
        </li>
    </ul>
</div>     
