@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi..Everyone..I am Raja Reddy Vundela.</p>
    <p>My Twitter: <a href="https://twitter.com/RajaRVundela">RajaRVundela <i class="fab fa-twitter"></i></a></p>
    <p>Site will be updated soon. You'll all find CS related stuff in future.</p>       
</div>